{% extends 'layout.twig' %}

{% block body %}

			<div class="sc-qYsuA bKtdyT">
				<div class="sc-pCPXO cJZrlO">

					<div class="sc-pQSRh kCChlW">
						<div class="sc-pZnSc cvQJgk">
							<div class="sc-oUoif jsVciS">
								<h2 class="sc-pcJja jsQOlE">Pandanite Blockchain Explorer</h2>
								<h3 class="sc-pliRl lfuYQh"><a href="https://pandanite-crypto.github.io/" style="color:#fff;">Pandanite Homepage</a></h3>
							</div>
							<div class="sc-ptDSg bvjSz">
								<input id="searchval" class="sc-qXRQq jonqnN" placeholder=" Search ...   blockheight, blockhash, transaction id, address" /><button id="dosearch" class="sc-pAncQ gPjSHN">Search</button>
							</div>
						</div>
					</div>
					<div class="sc-qPLKk kbOuEh">
						<div class="sc-qXHHN UUqnD">
							<div class="sc-pAyMl kuwXmF">
								<div class="sc-pITNg dCzMlQ">
									<img src="/images/pandablue2.png" class="sc-pkIrX hqGwVX" />
									<div class="sc-pQsrT cXYqGV">
										<div class="sc-pYNsO hYOBBy"><div class="sc-oUOMp dmVAYk">PDN PRICE</div></div>
										<div class="sc-pYNsO hYOBBy"><div class="sc-pdjNk gyAAVC">$<span id="pdnpriceusd">---</span> @ <span id="pdnpricebtc">---</span> BTC (<span id="pdnpricechange">---</span>)</div></div>
									</div>
								</div>
								<hr class="sc-ptdsS hgWHMc" />
								<div class="sc-pITNg dCzMlQ">
									<img src="/images/Market.svg" class="sc-pkIrX hqGwVX" />
									<div class="sc-pQsrT cXYqGV">
										<div class="sc-pYNsO hYOBBy">
											<div class="sc-oUOMp dmVAYk">MARKET CAP</div>
											<div class="sc-oUOMp dmVAYk">CIRCULATION</div>
										</div>
										<div class="sc-pYNsO hYOBBy">
											<div class="sc-pdjNk gyAAVC">$<span id="marketcap">---</span></div>
											<div class="sc-pdjNk gyAAVC"><span id="circulation">---</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="sc-pAyMl kuwXmF">
								<div class="sc-pITNg dCzMlQ">
									<img src="/images/Block.svg" class="sc-pkIrX hqGwVX" />
									<div class="sc-pQsrT cXYqGV">
										<div class="sc-pYNsO hYOBBy">
											<div class="sc-oUOMp dmVAYk">LATEST BLOCK</div>
											<div class="sc-oUOMp dmVAYk">TRANSACTIONS</div>
										</div>
										<div class="sc-pYNsO hYOBBy">
											<div class="sc-pdjNk gyAAVC"><span id="lastblock">---</span></div>
											<div class="sc-pdjNk gyAAVC"><span id="lastblocktxs">---</span></div>
										</div>
									</div>
								</div>
								<hr class="sc-ptdsS hgWHMc" />
								<div class="sc-pITNg dCzMlQ">
									<img src="/images/Difficulty.svg" class="sc-pkIrX hqGwVX" />
									<div class="sc-pQsrT cXYqGV">
										<div class="sc-pYNsO hYOBBy">
											<div class="sc-oUOMp dmVAYk">DIFFICULTY</div>
											<div class="sc-oUOMp dmVAYk">REWARD REDUCTION</div>
											<div class="sc-oUOMp dmVAYk">HASH RATE</div>
										</div>
										<div class="sc-pYNsO hYOBBy">
											<div class="sc-pdjNk gyAAVC"><span id="difficulty">---</span></div>
											<div class="sc-pdjNk gyAAVC"><span id="halving" class="tooltip" title="">@ BLOCK 515736</span></div>
											<div class="sc-pdjNk gyAAVC"><span id="hashrate">---</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="sc-pAyMl kuwXmF" id="transactionHistoryChart"></div>
						</div>
					</div>

					<div class="sc-oUcyK ghxSjS">
						<div class="sc-pbYBj gqtSFj">
							<div class="sc-pkUbs lnSapH">Latest Blocks <a class="sc-pItiW dyKuCZ" href="/blocks" style="float:right;">View all blocks</a></div>
							<div class="sc-psQdR gBdRuj" id='latestblocks'>
							
							</div>
						</div>
						<div class="sc-pbYBj gqtSFj">
							<div class="sc-pkUbs lnSapH">Latest Transactions <a class="sc-pItiW dyKuCZ" href="/txs" style="float:right;">View all transactions</a></div>
							<div class="sc-psQdR gBdRuj" id='latesttransactions'>
							
							</div>
						</div>
					</div>
					<div class="sc-qPXtF kYqHLF"></div>
				</div>
			</div>

{% endblock %}
{% block javascripts %}
<script>

$(document).ready(function() {

	$('#dosearch').on('click', function() {
	
		let searchVal = $('#searchval').val();

		$('#dosearch').html('<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>');

		socket.emit('doSearch', searchVal, function(data) {
		
			location.href = data.redirect;
		
		});
	
	});

	$('#searchval').on('keypress', function (e) {
   
		if(e.which === 13){
         	
			let searchVal = $('#searchval').val();

			$('#dosearch').html('<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>');

			socket.emit('doSearch', searchVal, function(data) {
					
				location.href = data.redirect;
		
			});
		
		}
	
	});
	
	socket.emit('getstats', function(data) {
		
		if (data.pdnpriceusd) $('#pdnpriceusd').html(data.pdnpriceusd);
		if (data.pdnpricebtc) $('#pdnpricebtc').html(data.pdnpricebtc);
		if (data.pdnpricechange) $('#pdnpricechange').html(data.pdnpricechange);
		if (data.marketcap) $('#marketcap').html(addCommas(data.marketcap));
		if (data.lastblock) $('#lastblock').html(data.lastblock);
		if (data.lastblocktxs) $('#lastblocktxs').html(data.lastblocktxs);
		if (data.difficulty) $('#difficulty').html(data.difficulty);
		if (data.hashrate) $('#hashrate').html(sigfig(parseInt(data.hashrate), 3));
		if (data.circulation) $('#circulation').html(addCommas(data.circulation));

		var chart = new Chartist.Line('#transactionHistoryChart', {
		  labels: data.txhistorychart1,
		  series: [
			data.txhistorychart2
		  ]
		}, {
		  plugins: [
			Chartist.plugins.tooltip({appendToBody: true})
		  ]
		});

		let halvingdays = parseInt(((515736 - data.lastblock) * 90) / 86400);

		$('#halving').attr("title", "In about " + halvingdays + " days will reduce to 33.3333");

		$('.tooltip').tooltipster({
		   animation: 'fade',
		   delay: 200
		});
	
	});
	
	socket.emit('getlatestblocks', function(data) {

		let blockhtml = "";
    		
		for (let i = 0; i < data.length; i++)
		{
		
			let blockData = data[i];
		
			blockhtml += `
    <div style="width:100%; flex:1;">
      <div style="border-bottom: 0.5px solid #e7eaf3; margin-bottom: 12px; width:100%;">
        <div style="display: flex; margin-bottom: 12px; ">
          <div style="width:45px; overflow: hidden;">
			  <div style="margin-right: 8px; display: flex;">
				<div style="cursor: default; width: 38.609px; height: 38.609px; background: rgba(119, 131, 143, 0.1); border-radius: 0.25rem; display: flex; align-items: center; justify-content: center; user-select: none;">Bk</div>
			  </div>
          </div>
          <div style="flex:1; overflow: hidden;">
			  <div style="display: block;">
				<div style="color: #3498db; cursor: pointer;">
				  <a style="color: #3498db; cursor: pointer;" href="/block/` + blockData.blockId + `">#` + blockData.blockId + `</a>
				</div>
				<div style="color: #77838f; width: 200px;">
				  ` + new Date(blockData.timestamp*1000).toUTCString() + `
				</div>
			  </div>
          </div>
          <div style="flex:2; overflow: hidden;">
			  <div style="padding-left: 7.5px; display: flex; justify-content: space-between; align-items: center;">
				<div style="flex:1; display: block; overflow: hidden;">
				  <div style="display: flex; justify-content: space-between;">
					Miner
					<a href="/account/` + blockData.minedBy + `" style="overflow: hidden; text-overflow: ellipsis; margin-left: 3px; color: #3498db; cursor: pointer;">` + blockData.minedBy + `</a>
				  </div>
				  <div>
					<a href="/txs?blockId=` + blockData.blockId + `" style="color: #3498db; cursor: pointer;"> ` + blockData.transactionCount + ` txns</a>
				  </div>
				</div>
			
				<div style="width: 120px;display: flex;">
					<div style="margin-left: auto;margin-right: 0px;overflow: hidden;text-overflow: ellipsis;background-color: #f1f2f4;display: inline-block;border-radius: 6.1875rem;font-size: 0.60938rem;line-height: 1.7;letter-spacing: 0.8px;padding: 0 0.5rem;"> ` + blockData.totalValue + ` PDN</div>
				</div>
			
			  </div>
          </div>
        </div>
      </div>
    </div>`;
			
			
			
		}
		
		$('#latestblocks').html(blockhtml);
		
	
	});
	
	socket.emit('getlatesttxs', function(data) {

		let txhtml = "";

    		
		for (let i = 0; i < data.length; i++)
		{
		
			let txInfo = data[i];
		
			txhtml += `
    <div style="width:100%; flex:1;">
      <div style="border-bottom: 0.5px solid #e7eaf3; margin-bottom: 12px; width:100%;">
        <div style="display: flex; margin-bottom: 12px;">
          <div style="width:45px; overflow: hidden;">
			  <div style="margin-right: 8px; display: flex;">
				<div style="cursor: default; width: 38.609px; height: 38.609px; background: rgba(119, 131, 143, 0.1); border-radius: 0.25rem; display: flex; align-items: center; justify-content: center; user-select: none;">Tx</div>
			  </div>
          </div>
          
          <div style="flex:1; overflow: hidden;">
			  <div style=" display: block; overflow: hidden;">
				<div style="overflow: hidden; text-overflow: ellipsis; color: #3498db; cursor: pointer;">
				  <a style="color: #3498db; cursor: pointer;" href="/tx/` + txInfo.transactionId + `">` + txInfo.transactionId + `</a>
				</div>
				<div style="color: #77838f; width: 200px;">
				  ` + new Date(txInfo.timestamp*1000).toUTCString() + `
				</div>
			  </div>
          </div>
          
          <div style="flex:2; overflow: hidden;">
          
			  <div style="flex:1; padding-left: 7.5px; display: flex; justify-content: space-between; align-items: center;">
				<div style="display: block; overflow: hidden; flex:1;">
				  <div style="display: flex; justify-content: space-between;">
					From
					` + (txInfo.isGenerate?'New Coins':'<a href="/account/' + txInfo.fromAccount + '" style="overflow: hidden; text-overflow: ellipsis; margin-left: 3px; margin-right: auto; color: #3498db; cursor: pointer;">' + txInfo.fromAccount + '</a>') + `
				  </div>
				  <div style="display: flex; justify-content: space-between;">
					To
					<a href="/account/` + txInfo.toAccount + `" style="overflow: hidden; text-overflow: ellipsis; margin-left: 4px; margin-right: auto; color: #3498db; cursor: pointer;">` + txInfo.toAccount + `</a>
				  </div>
				</div>

				<div style="width:120px;display: flex;">
					<div style="margin-left: auto;margin-right: 0px;overflow: hidden;text-overflow: ellipsis;background-color: #f1f2f4;display: inline-block;border-radius: 6.1875rem;font-size: 0.60938rem;line-height: 1.7;letter-spacing: 0.8px;padding: 0 0.5rem;"> ` + txInfo.amount + ` PDN</div>
				</div>
			
			  </div>
          
          </div>
        </div>
      </div>
    </div>`;
		
		
		
		}


		$('#latesttransactions').html(txhtml);


	
	});
	

  	socket.on('updateStats', function (data) { 

		if (data.pdnpriceusd) $('#pdnpriceusd').html(data.pdnpriceusd);
		if (data.pdnpricebtc) $('#pdnpricebtc').html(data.pdnpricebtc);
		if (data.pdnpricechange) $('#pdnpricechange').html(data.pdnpricechange);
		if (data.marketcap) $('#marketcap').html(addCommas(data.marketcap));
		if (data.lastblock) $('#lastblock').html(data.lastblock);
		if (data.lastblocktxs) $('#lastblocktxs').html(data.lastblocktxs);
		if (data.difficulty) $('#difficulty').html(data.difficulty);
		if (data.hashrate) $('#hashrate').html(sigfig(parseInt(data.hashrate), 3));
		if (data.circulation) $('#circulation').html(addCommas(data.circulation));

		new Chartist.Line('#transactionHistoryChart', {
		  labels: data.txhistorychart1,
		  series: [
			data.txhistorychart2
		  ]
		}, {
		  lineSmooth: Chartist.Interpolation.simple({
			divisor: 2
		  }),
		  fullWidth: true,
		  chartPadding: {
			right: 20
		  }, 
		  plugins: [
			Chartist.plugins.tooltip({appendToBody: true})
		  ]
		});

  	});

  	socket.on('newBlock', function (blockData) { 

			let listItemHTML = `
    <div style="width:100%; flex:1;">
      <div style="border-bottom: 0.5px solid #e7eaf3; margin-bottom: 12px; width:100%;">
        <div style="display: flex; margin-bottom: 12px; ">
          <div style="width:45px; overflow: hidden;">
			  <div style="margin-right: 8px; display: flex;">
				<div style="cursor: default; width: 38.609px; height: 38.609px; background: rgba(119, 131, 143, 0.1); border-radius: 0.25rem; display: flex; align-items: center; justify-content: center; user-select: none;">Bk</div>
			  </div>
          </div>
          <div style="flex:1; overflow: hidden;">
			  <div style="display: block;">
				<div style="color: #3498db; cursor: pointer;">
				  <a style="color: #3498db; cursor: pointer;" href="/block/` + blockData.blockId + `">#` + blockData.blockId + `</a>
				</div>
				<div style="color: #77838f; width: 200px;">
				  ` + new Date(blockData.timestamp*1000).toUTCString() + `
				</div>
			  </div>
          </div>
          <div style="flex:2; overflow: hidden;">
			  <div style="padding-left: 7.5px; display: flex; justify-content: space-between; align-items: center;">
				<div style="flex:1; display: block; overflow: hidden;">
				  <div style="display: flex; justify-content: space-between;">
					Miner
					<a href="/account/` + blockData.minedBy + `" style="overflow: hidden; text-overflow: ellipsis; margin-left: 3px; color: #3498db; cursor: pointer;">` + blockData.minedBy + `</a>
				  </div>
				  <div>
					<a href="/txs?blockId=` + blockData.blockId + `" style="color: #3498db; cursor: pointer;"> ` + blockData.transactionCount + ` txns</a>
				  </div>
				</div>
			
				<div style="width: 120px;display: flex;">
					<div style="margin-left: auto;margin-right: 0px;overflow: hidden;text-overflow: ellipsis;background-color: #f1f2f4;display: inline-block;border-radius: 6.1875rem;font-size: 0.60938rem;line-height: 1.7;letter-spacing: 0.8px;padding: 0 0.5rem;"> ` + blockData.totalValue + ` PDN</div>
				</div>
			
			  </div>
          </div>
        </div>
      </div>
    </div>`;
    
    	prependListItem("latestblocks", listItemHTML);

  	});

  	socket.on('newTransaction', function (txInfo) { 

			let listItemHTML = `
    <div style="width:100%; flex:1;">
      <div style="border-bottom: 0.5px solid #e7eaf3; margin-bottom: 12px; width:100%;">
        <div style="display: flex; margin-bottom: 12px;">
          <div style="width:45px; overflow: hidden;">
			  <div style="margin-right: 8px; display: flex;">
				<div style="cursor: default; width: 38.609px; height: 38.609px; background: rgba(119, 131, 143, 0.1); border-radius: 0.25rem; display: flex; align-items: center; justify-content: center; user-select: none;">Tx</div>
			  </div>
          </div>
          
          <div style="flex:1; overflow: hidden;">
			  <div style=" display: block; overflow: hidden;">
				<div style="overflow: hidden; text-overflow: ellipsis; color: #3498db; cursor: pointer;">
				  <a style="color: #3498db; cursor: pointer;" href="/tx/` + txInfo.transactionId + `">` + txInfo.transactionId + `</a>
				</div>
				<div style="color: #77838f; width: 200px;">
				  ` + new Date(txInfo.timestamp*1000).toUTCString() + `
				</div>
			  </div>
          </div>
          
          <div style="flex:2; overflow: hidden;">
          
			  <div style="flex:1; padding-left: 7.5px; display: flex; justify-content: space-between; align-items: center;">
				<div style="display: block; overflow: hidden; flex:1;">
				  <div style="display: flex; justify-content: space-between;">
					From
					` + (txInfo.isGenerate?'New Coins':'<a href="/account/' + txInfo.fromAccount + '" style="overflow: hidden; text-overflow: ellipsis; margin-left: 3px; margin-right: auto; color: #3498db; cursor: pointer;">' + txInfo.fromAccount + '</a>') + `
				  </div>
				  <div style="display: flex; justify-content: space-between;">
					To
					<a href="/account/` + txInfo.toAccount + `" style="overflow: hidden; text-overflow: ellipsis; margin-left: 4px; margin-right: auto; color: #3498db; cursor: pointer;">` + txInfo.toAccount + `</a>
				  </div>
				</div>

				<div style="width:120px;display: flex;">
					<div style="margin-left: auto;margin-right: 0px;overflow: hidden;text-overflow: ellipsis;background-color: #f1f2f4;display: inline-block;border-radius: 6.1875rem;font-size: 0.60938rem;line-height: 1.7;letter-spacing: 0.8px;padding: 0 0.5rem;"> ` + txInfo.amount + ` PDN</div>
				</div>
			
			  </div>
          
          </div>
        </div>
      </div>
    </div>`;
    
    	prependListItem("latesttransactions", listItemHTML);

  	});
  	
});    

function prependListItem(listName, listItemHTML){
    $(listItemHTML)
        .hide()
        .css('opacity',0.0)
        .prependTo('#' + listName)
        .slideDown('slow')
        .animate({opacity: 1.0})
}

function sigfig(num, sigfigs_opt) {
	// Set default sigfigs to 3
	sigfigs_opt = (typeof sigfigs_opt === "undefined") ? 3 : sigfigs_opt;
	// Only assigns sig figs and suffixes for numbers > 1
	if (num <= 1) return num.toPrecision(sigfigs_opt);
	// Calculate for numbers > 1
	var power10 = log10(num);
	var power10ceiling = Math.floor(power10) + 1;
	// 0 = '', 1 = 'K', 2 = 'M', 3 = 'B', 4 = 'T'
	var SUFFIXES = ['H/s', 'kH/s', 'MH/s', 'GH/s', 'TH/s', 'PH/s'];
	// 100: power10 = 2, suffixNum = 0, suffix = ''
	// 1000: power10 = 3, suffixNum = 1, suffix = 'K'
	var suffixNum = Math.floor(power10 / 3);
	var suffix = SUFFIXES[suffixNum];
	// Would be 1 for '', 1000 for 'K', 1000000 for 'M', etc.
	var suffixPower10 = Math.pow(10, suffixNum * 3);
	var base = num / suffixPower10;
	var baseRound = base.toPrecision(sigfigs_opt);
	return baseRound + suffix;
}

function log10(num) {
	  // Per http://stackoverflow.com/questions/3019278/how-can-i-specify-the-base-for-math-log-in-javascript#comment29970629_16868744
	  // Handles floating-point errors log10(1000) otherwise fails at (2.99999996)
	  return (Math.round(Math.log(num) / Math.LN10 * 1e6) / 1e6);
}

function addCommas(nStr){
    nStr += '';
    c = nStr.split(','); // Split the result on commas
    nStr = c.join('');  // Make it back to a string without the commas
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
}

</script>
{% endblock %}


